.main-menu-button-wrapper {
  width: 90%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  text-decoration: none;

  .main-menu-button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(96, 90, 121, 0.7);
    border-radius: 25px;
    transition: all 250ms linear;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

    &:hover {
      background: rgba(96, 90, 121, 1);
      font-size: large;
    }
  }
}
