.main-menu-button-wrapper {
  width: 90%;
  max-width: 500px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  text-decoration: none;

  .main-menu-button {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(96, 90, 121, 0.7);
    border-radius: 25px;
    transition: all 250ms linear;
    text-transform: uppercase;
    color: white;
    font-weight: bold;

    &:hover {
      background: rgba(96, 90, 121, 1);
      font-size: large;
    }
  }
}

.back-button-wrapper {
  width: min-content;
  position: absolute;
  top: 25px;
  left: 0;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  cursor: pointer;

  .back-button-chevron {
    width: auto;
    height: 75%;
  }

  p {
    font-size: large;
    text-transform: uppercase;
    margin-left: 5px;
  }
}

textarea {
  width: 90%;
  resize: none;
  font-size: large;
  margin-top: 25px;
}
